
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Sticky footer styles
 * Souce: https://getbootstrap.com/docs/4.1/examples/sticky-footer/
**/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

// Navbar
.nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
// Imposta l'altezza della linea e alinea verticalmente i link
.nav-link-vertical-align {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
